<div class="row-fluid">
  <div class="container">
    <div class="col-md-3">
      <mini-tron title="Total Runs" value="item.runs"></mini-tron>
    </div>

    <div class="col-md-3">
      <mini-tron title="Batting Avg." value="item.avg"></mini-tron>
    </div>

    <div class="col-md-3">
      <mini-tron title="Unbeaten" value="item.notOut"></mini-tron>
    </div>

    <div class="col-md-3">
      <mini-tron title="Total Wickets" value="item.wickets"></mini-tron>
    </div>

    <div class="col-md-3">
      <mini-tron title="Total Catches" value="item.catches"></mini-tron>
    </div>

    <div class="col-md-3">
      <mini-tron title="Centuries" value="item.centuries"></mini-tron>
    </div>

    <div class="col-md-3">
      <mini-tron title="Half Centuries" value="item.halfCenturies"></mini-tron>
    </div>

    <div class="col-md-3">
      <mini-tron title="Highest Score" value="item.highest"></mini-tron>
    </div>

  </div>
</div>
